<div class="text-center lg:w-3/4 m-auto">
  <div>ボードのタイトル</div>
  <div><%= form.text_field :title, placeholder: "タイトルを入力してください" %></div>
  <div><%= form.hidden_field :boardgroup_id, value: params[:boardgroup_id] %></div>
  <div><%= form.submit '送信', class: "w-full border-none rounded bg-gray-800 text-white p-1 my-2" %></div>
</div>
