  <table>
    <tr>
      <th>ボードのタイトル</th>
      <td><%= form.text_field :title %></td>
      <%= form.hidden_field :boardgroup_id, value: params[:boardgroup_id] %>
    </tr>
    <tr>
      <th></th>
      <td><%= form.submit '作成' %></td>
    </tr>
  </table>
  