<h1>タスクの編集</h1>
<%= form_with model: @task, url: boardgroup_board_task_path(params[:boardgroup_id], params[:board_id], params[:id]) do |form| %>
  <%= render :partial => "form", :locals=>{:form => form} %>
<% end %>
