<div class="background-base flex items-center">
  <div class="mx-auto">
    <h1 class="text-6xl leading-normal">あなたのタスクを視覚的に管理・共有します</h1>
    <p class="leading-normal">あなたの日常を変えるのに必要なものは、あなたのメールアドレスとあなたの決めたパスワードです</p>
    <h2 class="text-4xl leading-loose">さあ、始めよう！</h2>
    <div class="flex justify-center space-x-2">
      <%= link_to "ログイン", new_user_session_path, class: "block border-none rounded bg-gray-800 text-white text-3xl p-1" %>
      <%= link_to "新規登録", new_user_registration_path, class: "block border-none rounded bg-gray-800 text-white text-3xl p-1" %>
    </div>
  </div>
</div>
