<div class="background-base p-5">
  <div class="rounded-xl bg-gray-200 shadow-lg lg:w-1/4 m-auto">
    <div class="rounded bg-gray-600">
      <h2 class="text-white p-1">共有設定</h2>
    </div>
    <div class="p-2">
      <%= form_with model: @team, url: boardgroup_team_index_path do |form| %>
        <div class="text-center lg:w-3/4 m-auto">
          <div>共有したいユーザーID</div>
          <div><%= form.text_field :user_id, placeholder: "共有したいユーザーのID" %></div>
          <%= form.hidden_field :boardgroup_id, value: params[:boardgroup_id] %>
          <div><%= form.submit '作成', class: "btn-base" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
