<div class="text-center lg:w-3/4 m-auto">
    <div>グループのタイトル</div>
    <div><%= form.text_field :title, placeholder: "タイトルを入力してください" %></div>
    <div><%= form.submit '送信', class: "btn-base" %></div>
</div>
