<h1>ボード一覧</h1>
<%= link_to 'ボード作成', new_boardgroup_board_path(params[:id]) %>
<%= link_to '共有設定', boardgroup_team_path(params[:id], current_user.id) %>
<% @board.each do | bd | %>
  <%= link_to bd.title, boardgroup_board_path(bd.id) %>
<% end %>